
<%= form_for @project do |f| %>

  <h3>Tags</h3>


<div id="tags">
  <%= f.simple_fields_for :project_tags do |project_tag| %>
    <%= render 'project_tag_fields', :f => project_tag %>
    <% end %>

    <div class="links">
        <%= link_to_add_association 'add tag', f, :project_tags %>
    </div>
</div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
